.chat-main
  .chat-main__header
    .chat-main__header__group-list
      = @group.name
      .chat-main__header__group-list__member
        - @group.users.each do |group|
          member : 
          = group.name
    .chat-main__header__edit
      = link_to edit_group_path(@group.id), class: "chat-main__header__edit-btn" do
        Edit
  .MessageField
    = render @messages

  .chat-main__message
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .message-form__content
        = f.text_field :content, class: 'message-form__content__box', placeholder: 'type a message'
        = f.label :image, class: 'message-form__content__img__icon' do
          = icon('far', 'image', class: 'message-form__content__img')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'message-form__submit'