.chat-side
  .chat-side__header
    .chat-side__header__side-box
      .chat-side__header__side-box__user-name
        = current_user.name
      .chat-side__header__side-box__icon
        = link_to new_group_path, class: "chat-side__header__side-box__icon" do
          = icon('far', 'edit', class: "chat-side__header__side-box__icon__edit")
          %span<>
        = link_to edit_user_path(current_user), class: "chat-side__header__side-box__icon" do
          = icon('fas', 'cog',  class: "chat-side__header__side-box__icon__cog")
          %span<>
  .chat-side__main
    - current_user.groups.each do |group|
      .chat-side__main__group
        = link_to edit_group_path(group), class: "chat-side__main__group" do
          .chat-side__main__name
            = group.name
          .chat-side__main__message
            メッセージはまだありません